<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Caregivers deserve better.</h2>
                <hr class="light">
                <p class="text-faded">The COVID-19 pandemic has revealed our inability to support those who support others. </p>
                <p class="text-faded">The failure of our institutions to support our most vulnerable workers has profoundly harmed so many members of our community. As the pandemic wanes and the rebuilding begins, we must do better for the caregivers among us.</p> 
                <p  class="text-faded">Join the VFC as we document the conditions of caregivers on campus, and take action to fight for a better future. </p>                
<!--                 <a href="https://apfn.substack.com/" class="btn btn-default btn-xl">Join the newsletter</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://clairechenette.weebly.com/store/c3/Shop_for_things_Claire_makes.html" class="btn btn-default btn-xl">Order Your Deck Today!</a> -->
            </div>
        </div>
    </div>
</section>
