<section class="bg-dark" id="knowledge">
      <div class="container text-center">
        <div class="call-to-action">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

              <h2>What We Know: The Caregivers' Survey</h2>
              <p class="text-faded">The collapse of caregiving services like schools and elder care has placed an unspeakable burden on working caregivers. In the absence of workplace support, caregivers are being forced to make an impossible choice: between the jobs they depend on and the people who depend on them. Because caregiving responsibilities disproportionately fall on women and people of color, the failure to support caregivers is already exacerbating inequities in our workplaces. We have an obligation to respond.</p>
              <p class="text-faded">Since October of 2020, the Visionary Futures Collective has been inviting campus workers around the world to share their experiences working from home while caring for parents, children, and other loved ones. So far, we have received over 300 responses from caregivers at universities who shared details about the kinds of financial, logistical, and communicative support they are receiving from their institutions. </p>
                <p class="text-faded">What we learned is that campus workers overwhelmingly feel abandoned.</p>
              <p class="text-faded">Interested in the data? <a href="https://docs.google.com/spreadsheets/d/1eQhgq3aKu699FWvimjtBMzLPnJIekMlVBFw1DAyrW18/edit?usp=sharing">View our public spreadsheet here.</a></p>
              <p>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSc6iRSlr7DJXthJwENxXTjTa3jPiFVqOI9RsNqu-1LZbhw2Xg/viewform" class="btn btn-default btn-xl">Tell Your Story: Take the Survey</a>
              </p>
              <br><br>
          </div>
        </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-6 col-sm-6">
                <div class="portfolio-box">
                  <iframe width="564" height="435" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQjy3Vi9yjUPFlTPBD61aRpherXrJP7SiC49urIodztOXltgWS3vGSVlZ2r0R20_RcGXQjzz_YrY_Tg/pubchart?oid=1106847536&amp;format=interactive"></iframe>
                  <p STYLE="margin:0px 15px 0px 15px" class="text-faded">Over 300 campus caregivers answered our question: how do you feel your institution is supporting you? This map shows the percentage of respondents from each state that reported feeling "abandoned" by their institutions. White indicates no response; blue indicates a high level of support; and red indicates little or no supprot at all. </p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="portfolio-box">
                  <iframe width="564" height="435" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQjy3Vi9yjUPFlTPBD61aRpherXrJP7SiC49urIodztOXltgWS3vGSVlZ2r0R20_RcGXQjzz_YrY_Tg/pubchart?oid=276294607&amp;format=interactive"></iframe>
                </div>
                  <p STYLE="margin:0px 15px 0px 15px" class="text-faded">Over 150 respondents provided information about their level of job security, which allows us to identify caregiver feelings in relation to their position on campus. While this chart makes it clear that students are struggling, it also shows that people in all positions are struggling, too.</p>
            </div>
        </div>
    </div>
   <!--            <iframe width="756" height="468" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQjy3Vi9yjUPFlTPBD61aRpherXrJP7SiC49urIodztOXltgWS3vGSVlZ2r0R20_RcGXQjzz_YrY_Tg/pubchart?oid=1106847536&amp;format=interactive"></iframe>
              <iframe width="756" height="468" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQjy3Vi9yjUPFlTPBD61aRpherXrJP7SiC49urIodztOXltgWS3vGSVlZ2r0R20_RcGXQjzz_YrY_Tg/pubchart?oid=276294607&amp;format=interactive"></iframe> -->
<!--               <br>
              <iframe width="756" height="468" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQjy3Vi9yjUPFlTPBD61aRpherXrJP7SiC49urIodztOXltgWS3vGSVlZ2r0R20_RcGXQjzz_YrY_Tg/pubchart?oid=1237388496&amp;format=interactive"></iframe> -->
          </div>
        </div>
  </section>
