<section class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/pandemicphone.jpg" class="img-responsive" alt="Black and white photo of a white female telephone operator wearing a mask.">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Shared Vulnerability
                            </div>
                            <div class="project-name">
                                Our survey shows that 88% of academic caregivers feel undersupported.<br><br>Create spaces where colleagues can safely share what they are experiencing and what they need. <br><br> Make privacy a priority: try one-on-one meetings or anonymous surveys.<br><br>

                                    <audio controls>
                                        <source src="img/audio/abandoned.m4a" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/pandemicphone2.jpg" class="img-responsive" alt="Black and white photo of a white female telephone operator wearing a mask.">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Shared Vulnerability
                            </div>
                            <div class="project-name">
                                Our survey showed that 67% of caregiver accommodations came from supervisor generosity, not institutional policies.<br><br> Seek out conversations with supervisors across divisions or departments to share strategies for support.<br><br>

                                 <audio controls>
                                    <source src="img/audio/adjunct.m4a" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/pandemicphone.jpg" class="img-responsive" alt="Black and white photo of a white female telephone operator wearing a mask.">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Shared Vulnerability
                            </div>
                            <div class="project-name">
                                Starting difficult conversations requires identifying our relationship to power and acknowledging the vulnerabilities of our community. <br><br>
                                Check out the <a href="https://toolkit.dobetterlabor.com/talking-about-contingency-work/">"Collective Responsibility Labor Advocacy Toolkit"</a> for resources on using conversation to disrupt power and creating change. <br><br>
                                 <audio controls>
                                    <source src="img/audio/failure.m4a" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/pandemicphone2.jpg" class="img-responsive" alt="Black and white photo of a white female telephone operator wearing a mask.">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Radical Transparency
                            </div>
                            <div class="project-name">
                                Our survey shows that only 18% of institutions are communicating their caregiving policies clearly, and less than 50% are communicating effectively in any way. <br><br> Take action: bring visibility to the policies and resources on your campus that may help those in need access support. <br><br>
                                 <audio controls>
                                    <source src="img/audio/fear.m4a" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/pandemicphone.jpg" class="img-responsive" alt="Black and white photo of a white female telephone operator wearing a mask.">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Radical Transparency
                            </div>
                            <div class="project-name">
                                What information would help you advocate for change?<br><br> Gather campus-specific data about things like: <br>* How many people are caregivers. <br>* How much money caregiving costs. <br>* How caregiving is impacting productivity. <br> * How desperate people feel.<br><br>
                                 <audio controls>
                                    <source src="img/audio/insulted.m4a" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/pandemicphone2.jpg" class="img-responsive" alt="Black and white photo of a white female telephone operator wearing a mask.">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Radical Transparency
                            </div>
                            <div class="project-name">
                                Use public platforms to make information about the conditions of caregivers visible.<br><br> Publish an op-ed in a student newspaper, city paper, or on your scholarly society's blog. Make caregiving a priority in staff or faculty meetings. Talk about caregiving at conferences and on list serves.<br><br>
                                 <audio controls>
                                    <source src="img/audio/more.m4a" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/pandemicphone.jpg" class="img-responsive" alt="Black and white photo of a white female telephone operator wearing a mask.">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Collective Action
                            </div>
                            <div class="project-name">
                                Publish a collective statement about caregiving and labor for your institution or your scholarly society. <br><br>Don't forget to be inclusive: caregiving policies should support faculty, students, and staff of all kinds. <br><br> Not sure where to start? See <a href="https://docs.google.com/document/d/1PunZKc-EUWPanHXsafD8VWG29Wg8mxu9-HWoYY2UutU/edit">this example from UCLA.</a><br><br>
                                 <audio controls>
                                    <source src="img/audio/parents.m4a" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/pandemicphone2.jpg" class="img-responsive" alt="Black and white photo of a white female telephone operator wearing a mask.">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Collective Action
                            </div>
                            <div class="project-name">
                                 Organize for mutual aid: What kinds of resources are most urgently needed by caregivers, and how can you organize to collect and distribute those resources? <br><br> Not sure where to begin? Consider models like the <a href="https://www.mla.org/Resources/Career/MLA-Grants-and-Awards/COVID-19-Emergency-Grants">MLA's emergency grants program</a> or <a href="https://thesportula.wordpress.com/">The Sportula</a>.<br><br>
                                 <audio controls>
                                    <source src="img/audio/quit.m4a" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>                                                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/pandemicphone.jpg" class="img-responsive" alt="Black and white photo of a white female telephone operator wearing a mask.">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Collective Action
                            </div>
                            <div class="project-name">
                                Get your union involved... and get involved with your union. <br><br>
                                 <audio controls>
                                    <source src="img/audio/science.m4a" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


    </div>
</section>
