<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
              <h2>"This is unsustainable"</h2>
              <p>Whether you're a caregiver, a friend, or a colleague, there are actions you can take to fight for better caregiver policies on your campus.</p> 
              <p>First, take a look at <a href="https://docs.google.com/spreadsheets/d/1eQhgq3aKu699FWvimjtBMzLPnJIekMlVBFw1DAyrW18/edit?usp=sharing">our data set</a>, which identifies seventeen ways that institutions can act (and which institutions are taking action already).
              </p>
              <p>Want to do more? What follows are nine strategies you can take to fight for better policies on your campus. Through shared vulnerability, radical transparency, and collective action, change is possible.</p>
        </div>
    </div>


<section class="no-padding" id="past">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/pandemicphone.jpg" class="img-responsive" alt="Black and white photo of a white female telephone operator wearing a mask.">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Shared Vulnerability
                            </div>
                            <div class="project-name">
                                Do you know how caregivers in your department, division, office, or team feel? <br><br>Create spaces where colleagues can safely share what they are experiencing, what they need, and what meaningful help would look like. <br><br> Remember that safety must be a priority: try one-on-one meetings or anonymous surveys.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/pandemicphone.jpg" class="img-responsive" alt="Black and white photo of a white female telephone operator wearing a mask.">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Shared Vulnerability
                            </div>
                            <div class="project-name">
                                Do you know what actions other departments or divisions are taking to support caregivers?<br><br> Seek out conversations across institutional barriers to identify shared strategies of support.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/pandemicphone.jpg" class="img-responsive" alt="Black and white photo of a white female telephone operator wearing a mask.">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Shared Vulnerability
                            </div>
                            <div class="project-name">
                                Check out the <a href="https://toolkit.dobetterlabor.com/talking-about-contingency-work/">"Collective Responsibility Labor Advocacy Toolkit"</a> for additional resources on how to have difficult conversations with the goal of disrupting power and creating change. 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/pandemicphone.jpg" class="img-responsive" alt="Black and white photo of a white female telephone operator wearing a mask.">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Radical Transparency
                            </div>
                            <div class="project-name">
                                Inequity occurs when support for caregivers is institutional policy, not an act of generosity. <br><br> Can you bring visibility to the varying kinds of support that your peers or colleagues are drawing on to survive?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/pandemicphone.jpg" class="img-responsive" alt="Black and white photo of a white female telephone operator wearing a mask.">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Radical Transparency
                            </div>
                            <div class="project-name">
                                Is there any data about caregiver experiences that would help you advocate for change?<br><br> Use a simple data collection project to learn things like: <br>How many people are caregivers. <br>How much money caregiving costs. <br>How caregiving is impacting productivity. <br> How desperate people feel.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/pandemicphone.jpg" class="img-responsive" alt="Black and white photo of a white female telephone operator wearing a mask.">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Radical Transparency
                            </div>
                            <div class="project-name">
                                Use public platforms to make information about the plight of caregivers visible.<br><br> Publish an op-ed in a student newspaper, city paper, or on your scholarly society's blog. <br><br> Talk about caregiving at conferences and on list serves.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/pandemicphone.jpg" class="img-responsive" alt="Black and white photo of a white female telephone operator wearing a mask.">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Collective Action
                            </div>
                            <div class="project-name">
                                Publish a collective statement about caregiving and labor for your institution or your scholarly society. Don't forget to be inclusive: caregiving policies should support faculty, students, and staff of all kinds. <br><br> Not sure where to start? See <a href="https://docs.google.com/document/d/1PunZKc-EUWPanHXsafD8VWG29Wg8mxu9-HWoYY2UutU/edit">this example from UCLA.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/pandemicphone.jpg" class="img-responsive" alt="Black and white photo of a white female telephone operator wearing a mask.">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Collective Action
                            </div>
                            <div class="project-name">
                                 Organize for mutual aid: What kinds of resources are most urgently needed by caregivers, and how can you organize to collect and distribute those resources? <br><br> Not sure where to begin? Consider models like the <a href="https://www.mla.org/Resources/Career/MLA-Grants-and-Awards/COVID-19-Emergency-Grants">MLA's emergency grants program</a> or <a href="https://thesportula.wordpress.com/">The Sportula</a>.                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/pandemicphone.jpg" class="img-responsive" alt="Black and white photo of a white female telephone operator wearing a mask.">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Collective Action
                            </div>
                            <div class="project-name">
                                Get your union involved... and get involved with your union. 
                            </div>
                        </div>
                    </div>
                </div>
            </div>


    </div>
</section>
