<section class="bg-dark" id="action">
    <div class="container text-center">
        <div class="call-to-action">
            <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h1>Advocacy Toolkit</h1>
              <p  class="text-faded">The Visionary Futures Collective has put together a collection of advocacy resources that you can use to improve support for caregivers on your campus. The activities, data points, and testimonies below all draw on more than 300 responses to our Caregivers Survey.</p>
              <p class="text-faded">Not sure where to start? Our <a href="https://docs.google.com/spreadsheets/d/1eQhgq3aKu699FWvimjtBMzLPnJIekMlVBFw1DAyrW18/edit?usp=sharing">public spreadsheet</a> lists seventeen ways that institutions can take action to support caregivers.
              </p>
              <p class="text-faded">The grid below contains nine strategies you can use to support change on your campus, organized loosely around three approaches to creating change: Shared Vulnerability, Radical Transparency, and Collective Action. </p> 
              <p class="text-faded">Each strategy is accompanied by a testimony submitted by campus workers. <a href="/img/audio/audio-transcripts.txt">You can view the text of the sound clips here.</a></p>
          </div>
          </div>
        </div>
    </div>
</section>
