<section class="bg-primary" id="action">
    <div class="container text-center">
        <div class="call-to-action">
            <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2>"This is unsustainable"</h2>
              <p class="text-faded">The consequences of this pandemic and its impact on caregivers are already upon us, but it's not too late for us to take action.</p>
              <p class="text-faded">We believe that in the short term, there are small actions we can take to alleviate the burden on the caregivers in our community. We also recognize that our failure to support caregivers is not specific to the pandemic. That's why we need to implement institutional change that will last even after that hard-to-imagine day when we are all vaccinated and able to return to work and school.</p> 
              <h3>Want to do more? </h3> 
              <p class="text-faded">Our <a href="https://docs.google.com/spreadsheets/d/1eQhgq3aKu699FWvimjtBMzLPnJIekMlVBFw1DAyrW18/edit?usp=sharing">public spreadsheet</a> lists seventeen ways that institutions can take action to support caregivers.
              </p>
              <p class="text-faded">Our advocacy toolkit, below, describes nine strategies you can use to support change on your campus.</p>
          </div>
          </div>
        </div>
    </div>
</section>
